* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
ul,li{
  list-style: none;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
a{
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
img{
  display: block;
  width: 100%;
}
.wrapper {
  overflow: hidden;
}
.color-white {
  color: white;
}
.color464646{
  color: #464646;
}
.color13c8c2{
  color: #13c8c2;
}
.color39459b{
  color: #39459b;
}
button,button:active,button:focus{
  border: none;
  outline: none;
  box-shadow: none;
}
input, input:focus{
  border: none;
  outline: none;
}
button:hover{
  cursor: pointer;
  box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4);
}
