.btn-green{
  background-color: #13c8c2;
}
.btn-blue{
  @include background-gradient(#0f97d5,#39459b);
}
.btn-style{
  padding: .7rem 1.5rem;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}
.text-uppercase{
  text-transform: uppercase;
}
.owl-carousel .owl-dots .owl-dot span{
  @include background-gradient(#0f97d5, #39459b);
  transition: all .3s ease;
}
.owl-carousel .owl-dots .owl-dot span:hover{
  @include background-gradient(#0f97d5, #39459b);
}
.owl-carousel .owl-dots .owl-dot:hover span{
  @include background-gradient(#0f97d5, #39459b);
}
.owl-carousel .owl-dots .owl-dot.active span{
  @include background-gradient(#0f97d5, #39459b);
  width: 30px;
  border-radius: 25px;
}