.btn-green{
  background-color: #13c8c2;
}
.btn-blue{
  background-color: #39459b;
}
.btn-style{
  padding: .7rem 1.5rem;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}
.text-uppercase{
  text-transform: uppercase;
}