//Start About Story
.about-story
  .container
    .row
      .col-12.col-md-6
        .about-service
          .service-item
            .item-logo.active
              i.fa.fa-pen-nib.color-white
            p.item-title.color464646.text-uppercase creative design
          .service-item
            .item-logo
              i.fa.fa-percent.color464646
            p.item-title.color464646.text-uppercase big offers
          .service-item
            .item-logo
              i.far.fa-clock.color464646
            p.item-title.color464646.text-uppercase less time
          .service-item
            .item-logo
              i.fas.fa-users-cog.color464646
            p.item-title.color464646.text-uppercase creative team
      .col-12.col-md-6
        .about-accordion
          .about-filter
            p.color464646.active.filter_btn#about-story Story
            p.color464646.filter_btn#about-mission Mission
            p.color464646.filter_btn#about-vision Vision
          .about-tab.color464646.open(data-target="about-story")
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .about-tab.color464646(data-target="about-mission")
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .about-tab.color464646(data-target="about-vision")
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.    
//End About Story