//Start About Us
#about-us
  .container
    .row
      .col-md-12.col-lg-6
        .about__images.wow.animate__animated.animate__fadeInLeft(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInLeft")
          img(src="images/about-us.jpg", alt="")
          .about-play
            .play-btn
              i.fas.fa-play.color13c8c2
      .col-md-12.col-lg-6
        .about__info.wow.animate__animated.animate__fadeInRight(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInRight")
          h1.about__info-title.text-uppercase.colorwhite what we do ?
          p.about__info-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
          ul.about__info-list
            li.colorwhite
              svg.svg-inline--fa.fa-circle.fa-w-16._icon.color13c8c2(aria-hidden="true" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="")
                path(fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z")
              |Lorem ipsum dolor sit amet consectetur
            li.colorwhite
              svg.svg-inline--fa.fa-circle.fa-w-16._icon.color13c8c2(aria-hidden="true" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="")
                path(fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z")
              |Lorem ipsum dolor sit amet consectetur
            li.colorwhite
              svg.svg-inline--fa.fa-circle.fa-w-16._icon.color13c8c2(aria-hidden="true" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="")
                path(fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z")
              |Lorem ipsum dolor sit amet consectetur
          button.btn-green.about-btn.btn-style Now more
//End About Us