#about-us
  .container
    .row
      .col-md-12.col-lg-6
        .about__images
          img(src="../../images/about-us.jpg", alt="")
      .col-md-12.col-lg-6
        .about__info
          h1.about__info-title.text-uppercase.colorwhite what we do ?
          p.about__info-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
          ul.about__info-list
            li.colorwhite Lorem ipsum dolor sit amet consectetur
            li.colorwhite Lorem ipsum dolor sit amet consectetur
            li.colorwhite Lorem ipsum dolor sit amet consectetur
          button.btn-green Now more