//Start Banner
#banner
  .container
    .banner__container
      .row
        .col-md-12.col-lg-6
          .banner__info
            h1.banner-title.text-uppercase.color-white 
              span.word1
                span s
                span t
                span a
                span r
                span t
              span.word2
                span y
                span o
                span u
                span r
              span.word3
                span b
                span u
                span s
                span i
                span n
                span e
                span s
                span s
              span.word4
                span w
                span i
                span t
                span h
              span.word5
                span z
                span a
                span g
                span e
                span n
                span c
                span y
            p.banner-desc.color-white.wow.fadeInDown(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInDown") Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            .banner-button
              input(placeholder = 'Enter Your Email')
              button.btn-green.btn-style.text-uppercase.color-white Subscribe
        .col-md-12.col-lg-6
          .banner-image
            img(src='../images/top_img.png')
//End Banner