//Start Pricing
#pricing.section
  .container
    h1.pricing__title.text-uppercase.color464646 pricing
    p.pricing__desc.color464646 Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
    .row
      .col-12.col-md-4.animate__table
        .pricing__table.animate__animated.animate__fadeInLeft(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInLeft")
          h2.pricing-header.color13c8c2.text-uppercase basic
          h3.pricing-price.color13c8c2 20$
            span.text-uppercase / Month
          ul.pricing-content
            li.color464646 
              b 50GB Disk Space
            li.color464646 
              b 50 Email Accounts
            li.color-gray
              b 50GB Bandwidth
            li.color-gray
              b 10 Subdomains
            li.color-gray
              b 15 Domains
          button.pricing-button.btn-green.btn-style.text-uppercase 
            b Submit now
      .col-12.col-md-4
        .pricing__table.adv-table
          h2.pricing-header.color39459b.text-uppercase Advanced
          h3.pricing-price.color39459b 25$
            span.text-uppercase / Month
          ul.pricing-content
            li.color464646 
              b 50GB Disk Space
            li.color464646 
              b 50 Email Accounts
            li.color464646 
              b 50GB Bandwidth
            li.color464646 
              b 10 Subdomains
            li.color-gray
              b 15 Domains       
          button.pricing-button.btn-blue.btn-style.text-uppercase 
            b Submit now
      .col-12.col-md-4.animate__table
        .pricing__table.wow.animate__animated.animate__fadeInRight(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInRight")
          h2.pricing-header.color13c8c2.text-uppercase Expert
          h3.pricing-price.color13c8c2 20$
            span.text-uppercase / Month
          ul.pricing-content
            li.color464646 
              b 50GB Disk Space
            li.color464646 
              b 50 Email Accounts
            li.color464646 
              b 50GB Bandwidth
            li.color464646 
              b 10 Subdomains
            li.color464646 
              b 15 Domains
          button.pricing-button.btn-green.btn-style.text-uppercase 
            b Submit now
//End Pricing