//Start About Desc
.about-desc
  .container
    .row
      .col-12.col-md-6
        .desc-images
          img(src="images/screen.png", alt="pic")
      .col-12.col-md-6.desc-info
        h1.desc-title.color-white We Help You To Find What You Want
        p.desc-desc.color-white Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took including versions of Lorem Ipsum.
//End About Desc