//Start Banner
#banner.section.action
  .container
    .banner__container
      .row
        .col-md-12.col-lg-6
          .banner__info
            h1.banner-title.text-uppercase.color-white
              span.word1
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .1s; animation-name: bounceIn") s
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .2s; animation-name: bounceIn") t
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .3s; animation-name: bounceIn") a
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .4s; animation-name: bounceIn") r
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .5s; animation-name: bounceIn") t
              span.word2
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .6s; animation-name: bounceIn") y
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .7s; animation-name: bounceIn") o
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .8s; animation-name: bounceIn") u
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: .9s; animation-name: bounceIn") r
              span.word3
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1s; animation-name: bounceIn") b
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.1s; animation-name: bounceIn") u
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.2s; animation-name: bounceIn") s
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.3s; animation-name: bounceIn") i
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.4s; animation-name: bounceIn") n
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: bounceIn") e
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.6s; animation-name: bounceIn") s
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.7s; animation-name: bounceIn") s
              span.word4
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.8s; animation-name: bounceIn") w
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.9s; animation-name: bounceIn") i
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2s; animation-name: bounceIn") t
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.1s; animation-name: bounceIn") h
              span.word5
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.2s; animation-name: bounceIn") z
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.3s; animation-name: bounceIn") a
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.4s; animation-name: bounceIn") g
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.5s; animation-name: bounceIn") e
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.6s; animation-name: bounceIn") n
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.7s; animation-name: bounceIn") c
                span.wow.animate__animated.animate__bounceIn(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2.8s; animation-name: bounceIn") y
            p.banner-desc.color-white.wow.animate__animated.animate__fadeInDown(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInDown") Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            .banner-button.wow.animate__animated.animate__fadeInUp(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeInUp")
              input(placeholder = 'Enter Your Email')
              button.btn-green.btn-style.text-uppercase.color-white Subscribe
        .col-md-12.col-lg-6
          .banner-image.wow.animate__animated.animate__fadeInUp(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp")
            img(src='images/top_img.png')
//End Banner