//Start Contact Us
#contact-us.section
  .container
    h1.contact__title.text-uppercase.color464646 get in touch
    p.contact__desc.color464646 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .row.contact-us.animate__animated.animate__fadeInUp(data-wow-delay="1.5s" style="visibility: visible; animation-delay: 2s; animation-name: fadeInUp")
      .col-12.col-md-6
        .contact__info
          .info-item
            i.color464646.fas.fa-map-marker-alt
            .info-text
              p.text-uppercase.color464646 
                b location
              p.text-uppercase.color464646 10,park street,London
          .info-item
            i.color464646.fas.fa-mobile-alt
            .info-text
              p.text-uppercase.color464646 
                b phone
              p.text-uppercase.color464646 (+1) 517 397 7100
          .info-item
            i.color464646.far.fa-envelope
            .info-text
              p.text-uppercase.color464646 
                b mail
              p.text-uppercase.color464646 demo@gmail.com
          .info-item
            i.color464646.far.fa-clock
            .info-text
              p.text-uppercase.color464646 
                b working hours
              p.text-uppercase.color464646 mon-fri 9:00am to 5:00pm.
        button.btn-style.btn-blue.text-uppercase.btn.btn-primary(type='button' data-toggle='modal' data-target='#modalContact')
          b send message    
      .col-12.col-md-6
        .map
          .iframe
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d421701.2454303203!2d-90.21538947620296!3d34.33670749678344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88801b5b94e09a8b%3A0xabd6bc8b4f8f7ebb!2sUnited+States+Postal+Service!5e0!3m2!1sen!2seg!4v1536167131135", allowfullscreen="")
//End Contact Us