// Modal
#modalContact.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-body
        .row
          .col
            input(type="text" placeholder="Full Name")
          .col
            input(type="email" placeholder="Email")
        input(type="text" placeholder="Phone")
        input(type="text" placeholder="Message")
        button.btn-style.btn-blue.text-uppercase.colorwhite
          b submit