//Start Team
#team.section.action
  .container
    h1.team__title.text-uppercase.color464646 our lovely team
    p.team__desc.color464646 Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
    .team__carousel.owl-carousel.owl-theme
      .team__item
        .item-images
          img(src="images/client1.jpg", alt="")
          ul
            li 
              i.fab.fa-twitter
            li
              i.fab.fa-google-plus-g
            li
              i.fab.fa-linkedin-in
            li
              i.fab.fa-facebook-f
        .team__content
          h3.item-name.text-uppercase.color464646 Naggy Noor
          p.item-desc.color464646 Web Developer
      .team__item
        .item-images
          img(src="images/client2.jpg", alt="")
          ul
            li 
              i.fab.fa-twitter.colorwhite
            li
              i.fab.fa-google-plus-g.colorwhite
            li
              i.fab.fa-linkedin-in.colorwhite
            li
              i.fab.fa-facebook-f.colorwhite  
        .team__content
          h3.item-name.text-uppercase.color464646 Perla Mohammed
          p.item-desc.color464646 Web Designer
      .team__item
        .item-images
          img(src="images/client3.jpg", alt="")
          ul
            li 
              i.fab.fa-twitter
            li
              i.fab.fa-google-plus-g
            li
              i.fab.fa-linkedin-in
            li
              i.fab.fa-facebook-f
        .team__content
          h3.item-name.text-uppercase.color464646 Wiliamson
          p.item-desc.color464646 Ui/Ux Designer
      .team__item
        .item-images
          img(src="images/client4.jpg", alt="")
          ul
            li 
              i.fab.fa-twitter
            li
              i.fab.fa-google-plus-g
            li
              i.fab.fa-linkedin-in
            li
              i.fab.fa-facebook-f
        .team__content
          h3.item-name.text-uppercase.color464646 Tamer Ahmed
          p.item-desc.color464646 Social media
      .team__item
        .item-images
          img(src="images/client1.jpg", alt="")
          ul
            li 
              i.fab.fa-twitter
            li
              i.fab.fa-google-plus-g
            li
              i.fab.fa-linkedin-in
            li
              i.fab.fa-facebook-f
        .team__content
          h3.item-name.text-uppercase.color464646 Naggy Noor
          p.item-desc.color464646 Web Developer
      .team__item
        .item-images
          img(src="images/client2.jpg", alt="")
          ul
            li 
              i.fab.fa-twitter
            li
              i.fab.fa-google-plus-g
            li
              i.fab.fa-linkedin-in
            li
              i.fab.fa-facebook-f
        .team__content
          h3.item-name.text-uppercase.color464646 Perla Mohammed
          p.item-desc.color464646 Web Designer
//End Team