//Start Testimonial
#testimonial
  .container
    .row
      .col-12.col-md-6.col-lg-3
        .counter__item
          svg.counter-icon.svg-inline--fa.fa-users.fa-w-20.color13c8c2(aria-hidden='true' data-prefix='fas' data-icon='users' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 640 512' data-fa-i2svg='')
            path(fill='currentColor' d='M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z')
          .counter-number.color464646.counter(data-count="200") 1
          .counter-title.text-uppercase.color464646 happy clients
        .counter__item
          svg.counter-icon.svg-inline--fa.fa-project-diagram.fa-w-20.color13c8c2(aria-hidden='true' data-prefix='fas' data-icon='project-diagram' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 640 512' data-fa-i2svg='')
            path(fill='currentColor' d='M384 320H256c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32zM192 32c0-17.67-14.33-32-32-32H32C14.33 0 0 14.33 0 32v128c0 17.67 14.33 32 32 32h95.72l73.16 128.04C211.98 300.98 232.4 288 256 288h.28L192 175.51V128h224V64H192V32zM608 0H480c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32z')
          .counter-number.color464646.counter(data-count="300") 1
          .counter-title.text-uppercase.color464646 projects
      .col-12.col-md-6.col-lg-3.event-item
        .counter__item
          svg.counter-icon.svg-inline--fa.fa-calendar-alt.fa-w-14.color13c8c2(aria-hidden='true' data-prefix='fas' data-icon='calendar-alt' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512' data-fa-i2svg='')
            path(fill='currentColor' d='M436 160H12c-6.6 0-12-5.4-12-12v-36c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48v36c0 6.6-5.4 12-12 12zM12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm116 204c0-6.6-5.4-12-12-12H76c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-40zm0-128c0-6.6-5.4-12-12-12H76c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-40zm128 128c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-40zm0-128c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-40zm128 128c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-40zm0-128c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12v-40z')
          .counter-number.color464646.counter(data-count="20") 1
          .counter-title.text-uppercase.color464646 events
      .col-12.col-md-12.col-lg-6.testimonial__item
        h1.testimonial__title.text-uppercase.color464646 What clients say
        p.testimonial__desc.color464646 Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
        .testimonial__carousel.owl-carousel.owl-theme
          .opinion__item
            p.opinion.color464646 Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
            .client__info
              img.client-images(src="images/client1.jpg", alt="")
              h5.client-name.color464646 Nagy El.Saied
          .opinion__item
            p.opinion.color464646 Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
            .client__info
              img.client-images(src="images/client2.jpg", alt="")
              h5.client-name.color464646 Perla Mohammed
          .opinion__item
            p.opinion.color464646 Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
            .client__info
              img.client-images(src="images/client3.jpg", alt="")
              h5.client-name.color464646 Ali Essa
//End Testimonial