/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
/* ===== Usage ===== */
/* div {
  background-image: url("cute-doggo.png");
  @include cover-background;
} */
/* ===== Usage ===== */
p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1em; }

.btn-green {
  background-color: #13c8c2; }

.btn-blue {
  background-color: #39459b; }

.btn-style {
  padding: .7rem 1.5rem;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 25px; }

.text-uppercase {
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition-duration: .2s; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white; }

ul, li {
  list-style: none;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

img {
  display: block;
  width: 100%; }

.wrapper {
  overflow: hidden; }

.color-white {
  color: white; }

.color464646 {
  color: #464646; }

.color13c8c2 {
  color: #13c8c2; }

.color39459b {
  color: #39459b; }

button, button:active, button:focus {
  border: none;
  outline: none;
  box-shadow: none; }

input, input:focus {
  border: none;
  outline: none; }

button:hover {
  cursor: pointer;
  box-shadow: 0 15px 15px -11px rgba(0, 0, 0, 0.4); }

#banner {
  background-color: #39459b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39459b), to(#0f97d5));
  background-image: -webkit-linear-gradient(top, #39459b, #0f97d5);
  background-image: -moz-linear-gradient(top, #39459b, #0f97d5);
  background-image: -ms-linear-gradient(top, #39459b, #0f97d5);
  background-image: -o-linear-gradient(top, #39459b, #0f97d5);
  background-image: linear-gradient(top, #39459b, #0f97d5);
  background: linear-gradient(to right bottom);
  position: relative;
  padding: 10rem 0 2rem; }
  @media only screen and (max-width: 1199px) {
    #banner {
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 991px) {
    #banner {
      padding-bottom: 13rem; } }
  #banner::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-size: 100% 100% !important;
    padding-top: 15rem;
    background: url("../../../images/top-img-shape.png"); }
  #banner .banner__info {
    padding-top: 60px;
    vertical-align: baseline; }
    @media only screen and (max-width: 992px) {
      #banner .banner__info {
        text-align: center; } }
    #banner .banner__info h1 {
      display: flex;
      flex-wrap: wrap;
      font-size: 2.6rem;
      margin-bottom: 20px; }
      @media only screen and (max-width: 575px) {
        #banner .banner__info h1 {
          font-size: 2rem; } }
      @media only screen and (max-width: 992px) {
        #banner .banner__info h1 {
          justify-content: center; } }
      #banner .banner__info h1 .word1,
      #banner .banner__info h1 .word2,
      #banner .banner__info h1 .word3,
      #banner .banner__info h1 .word4 {
        padding-right: 10px; }
    #banner .banner__info p {
      font-size: 16px;
      padding-bottom: 10px;
      font-weight: 550;
      letter-spacing: -0.2px; }
  #banner .banner-button {
    z-index: 1;
    position: relative; }
    #banner .banner-button input {
      border-width: 2px 0 2px 2px;
      border-radius: 25px;
      margin-top: 15px;
      padding: 9px 1rem;
      width: 100%;
      margin-right: 0;
      color: white;
      border: 2px solid #fff;
      background: transparent;
      font-weight: 600; }
      #banner .banner-button input::placeholder {
        color: #fff; }
    #banner .banner-button button {
      z-index: 1;
      position: absolute;
      right: 0;
      top: 15px;
      border-radius: 0 25px 25px 0;
      min-height: 42px;
      font-weight: 500;
      letter-spacing: 1px; }
  #banner .banner-image img {
    max-height: 450px; }
    @media only screen and (max-width: 991px) {
      #banner .banner-image img {
        display: none; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

#service {
  padding-top: 50px;
  padding-bottom: 100px; }
  #service .service__title {
    text-align: center; }
  #service .service__desc {
    text-align: center;
    margin: auto;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: -0.2px;
    max-width: 700px; }
  #service .service__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    padding: 3rem 1.5rem;
    background: #f9f9f9;
    border: 2px solid #eee;
    border-radius: 8px;
    position: relative; }
    #service .service__item-svg {
      height: 60px;
      margin-bottom: 20px;
      z-index: 1; }
    #service .service__item-title {
      margin-bottom: 20px;
      z-index: 1; }
    #service .service__item .bar {
      height: 2px;
      width: 50px;
      background-color: #464646;
      margin-bottom: 30px;
      z-index: 1; }
    #service .service__item-desc {
      text-align: center;
      z-index: 1;
      font-size: 16px;
      font-weight: 550;
      letter-spacing: -0.2px; }
    #service .service__item::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      opacity: 0;
      background-color: #39459b;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#39459b), to(#0f97d5));
      background-image: -webkit-linear-gradient(top, #39459b, #0f97d5);
      background-image: -moz-linear-gradient(top, #39459b, #0f97d5);
      background-image: -ms-linear-gradient(top, #39459b, #0f97d5);
      background-image: -o-linear-gradient(top, #39459b, #0f97d5);
      background-image: linear-gradient(top, #39459b, #0f97d5);
      background: linear-gradient(to right bottom);
      transition: all .3s ease;
      border-radius: 8px; }
    #service .service__item:hover {
      cursor: pointer; }
    #service .service__item:hover .service__item-svg path {
      fill: white; }
    #service .service__item:hover .service__item-desc {
      color: white; }
    #service .service__item:hover .service__item-title {
      color: white; }
    #service .service__item:hover .bar {
      background-color: white; }
    #service .service__item:hover::before {
      height: 100%;
      opacity: 1; }

#about-us {
  padding: 80px 0;
  background-color: #39459b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39459b), to(#0f97d5));
  background-image: -webkit-linear-gradient(top, #39459b, #0f97d5);
  background-image: -moz-linear-gradient(top, #39459b, #0f97d5);
  background-image: -ms-linear-gradient(top, #39459b, #0f97d5);
  background-image: -o-linear-gradient(top, #39459b, #0f97d5);
  background-image: linear-gradient(top, #39459b, #0f97d5);
  background: linear-gradient(to right bottom); }
  #about-us .about__images {
    position: relative; }
    @media only screen and (min-width: 992px) {
      #about-us .about__images {
        margin-right: 80px; } }
    @media only screen and (max-width: 991px) {
      #about-us .about__images {
        margin-bottom: 50px; } }
    #about-us .about__images img {
      border-radius: 5px;
      border: 1px solid #ccc; }
    #about-us .about__images .about-play {
      content: "";
      position: absolute;
      top: calc(50% - 50px); }
      @media only screen and (min-width: 1200px) {
        #about-us .about__images .about-play {
          left: 89% !important; } }
      @media only screen and (min-width: 992px) {
        #about-us .about__images .about-play {
          left: 87%; } }
      @media only screen and (max-width: 991px) {
        #about-us .about__images .about-play {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
      #about-us .about__images .about-play .play-btn {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%; }
        #about-us .about__images .about-play .play-btn i {
          font-size: 18px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        #about-us .about__images .about-play .play-btn::after {
          position: absolute;
          content: "";
          background: rgba(255, 255, 255, 0.5);
          top: -10%;
          left: -10%;
          width: 120%;
          height: 120%;
          border-radius: 50%; }
      #about-us .about__images .about-play:hover {
        cursor: pointer; }
  #about-us .about__info-title {
    margin-bottom: 20px; }
  #about-us .about__info-desc {
    margin-bottom: 20px;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: -0.2px; }
  #about-us .about__info-list {
    margin-bottom: 30px; }
    #about-us .about__info-list li {
      margin-bottom: 10px;
      font-weight: 550;
      font-size: 16px;
      letter-spacing: -0.2px; }
      #about-us .about__info-list li svg {
        width: .7em;
        margin-right: 10px; }

#portfolio {
  padding: 80px 0; }
  #portfolio .portfolio__title {
    text-align: center;
    margin-bottom: 30px; }
  #portfolio .portfolio__desc {
    font-size: 16px;
    max-width: 700px;
    text-align: center;
    font-weight: 550;
    letter-spacing: -0.2px;
    margin: auto; }
  #portfolio .list-box {
    margin: 30px 0;
    text-align: center; }
    #portfolio .list-box .portfolio__list {
      display: inline-block;
      padding: 1rem 2rem;
      background: #f9f9f9;
      border-radius: 25px;
      border: 2px solid #eee; }
      #portfolio .list-box .portfolio__list-item {
        display: inline;
        font-size: 20px;
        font-weight: 550;
        padding-right: 10px; }
        #portfolio .list-box .portfolio__list-item:hover {
          color: #39459b;
          cursor: pointer; }
      #portfolio .list-box .portfolio__list .item-link:not([disabled]):not(.disabled).active {
        color: #39459b; }
  #portfolio .portfolio__item {
    margin-bottom: 20px; }
    #portfolio .portfolio__item .item-images {
      overflow: hidden; }
      #portfolio .portfolio__item .item-images img {
        border-radius: 8px 8px 0 0; }
    #portfolio .portfolio__item .item-title {
      background: #f9f9f9;
      border-radius: 0 0 8px 8px;
      border: 2px solid #eee;
      padding: 1rem;
      font-weight: 550;
      text-align: center; }
    #portfolio .portfolio__item:hover {
      cursor: pointer; }
    #portfolio .portfolio__item:hover img {
      transform: scale(1.1);
      filter: blur(2px); }
  #portfolio .portfolio-btn {
    margin-top: 30px;
    text-align: center; }
    #portfolio .portfolio-btn button {
      background-color: #0f97d5;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#0f97d5), to(#39459b));
      background-image: -webkit-linear-gradient(top, #0f97d5, #39459b);
      background-image: -moz-linear-gradient(top, #0f97d5, #39459b);
      background-image: -ms-linear-gradient(top, #0f97d5, #39459b);
      background-image: -o-linear-gradient(top, #0f97d5, #39459b);
      background-image: linear-gradient(top, #0f97d5, #39459b); }

.isotope .isotope-item {
  -webkit-transition-property: top, left, opacity;
  -moz-transition-property: top, left, opacity;
  -ms-transition-property: top, left, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: top, left, opacity; }

.onload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999; }
  .onload .boxloading {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .onload .boxloading::before {
      content: "";
      width: 50px;
      height: 5px;
      background: #000;
      opacity: 0.1;
      position: absolute;
      top: 59px;
      left: 0;
      border-radius: 50%;
      animation: shadow 0.5s linear infinite; }
    .onload .boxloading::after {
      content: "";
      width: 50px;
      height: 50px;
      animation: animate 0.4s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px; }
  .onload .boxloading.blue::after {
    background-color: #0f97d5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0f97d5), to(#39459b));
    background-image: -webkit-linear-gradient(top, #0f97d5, #39459b);
    background-image: -moz-linear-gradient(top, #0f97d5, #39459b);
    background-image: -ms-linear-gradient(top, #0f97d5, #39459b);
    background-image: -o-linear-gradient(top, #0f97d5, #39459b);
    background-image: linear-gradient(top, #0f97d5, #39459b);
    background: linear-gradient(to right bottom); }

@-webkit-keyframes animate {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(15px);
    border-bottom-right-radius: 25px; }
  100% {
    transform: translateY(0);
    transform: rotate(45deg); } }

@-moz-keyframes animate {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(15px);
    border-bottom-right-radius: 25px; }
  100% {
    transform: translateY(0);
    transform: rotate(45deg); } }

@-ms-keyframes animate {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(15px);
    border-bottom-right-radius: 25px; }
  100% {
    transform: translateY(0);
    transform: rotate(45deg); } }

@-o-keyframes animate {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(15px);
    border-bottom-right-radius: 25px; }
  100% {
    transform: translateY(0);
    transform: rotate(45deg); } }

@keyframes animate {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(15px);
    border-bottom-right-radius: 25px; }
  100% {
    transform: translateY(0);
    transform: rotate(45deg); } }

@-webkit-keyframes shadow {
  0%, 100% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.3); } }

@-moz-keyframes shadow {
  0%, 100% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.3); } }

@-ms-keyframes shadow {
  0%, 100% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.3); } }

@-o-keyframes shadow {
  0%, 100% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.3); } }

@keyframes shadow {
  0%, 100% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.3); } }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  #header .header__menu {
    background: #fff;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    #header .header__menu-logo {
      align-items: center; }
    #header .header__menu-logo img {
      height: 50px; }
    #header .header__menu-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: .25rem;
      width: 30px;
      height: 30px; }
      #header .header__menu-bar i {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5); }
      @media only screen and (min-width: 992px) {
        #header .header__menu-bar {
          display: none; } }
      #header .header__menu-bar:hover {
        cursor: pointer; }
    #header .header__menu-list {
      display: flex;
      align-items: center; }
      @media only screen and (min-width: 992px) {
        #header .header__menu-list:hover .dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0); } }
      @media only screen and (max-width: 991px) {
        #header .header__menu-list {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          opacity: 0;
          visibility: hidden;
          max-height: 0;
          transition: all .5s ease-in-out; } }
      #header .header__menu-list.show {
        opacity: 1;
        visibility: visible;
        max-height: 100vh;
        margin-top: 10px; }
      #header .header__menu-list .list-item {
        position: relative;
        font-weight: bold; }
        @media only screen and (min-width: 992px) {
          #header .header__menu-list .list-item {
            padding-right: .5rem;
            padding-left: .5rem; }
            #header .header__menu-list .list-item:hover .dropdown {
              opacity: 1;
              visibility: visible;
              transform: translateY(0); } }
        @media only screen and (max-width: 991px) {
          #header .header__menu-list .list-item {
            padding: 10px 5px; } }
        #header .header__menu-list .list-item i {
          margin-left: 5px;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.5); }
        #header .header__menu-list .list-item a {
          color: rgba(0, 0, 0, 0.5); }
        #header .header__menu-list .list-item a:hover {
          color: #464646; }
        @media only screen and (min-width: 992px) {
          #header .header__menu-list .list-item .dropdown {
            position: absolute;
            width: 150px;
            top: 25px;
            left: -50%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10%);
            background-color: white;
            box-shadow: 0 0 10px #ccc;
            border-radius: 5px;
            transition: all .5s ease-in-out; }
            #header .header__menu-list .list-item .dropdown li {
              text-align: center;
              padding: 10px 20px; } }
        @media only screen and (max-width: 991px) {
          #header .header__menu-list .list-item .dropdown {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
            transition: all .5s ease-in-out; }
            #header .header__menu-list .list-item .dropdown.show {
              opacity: 1;
              visibility: visible;
              max-height: 100vh;
              margin-top: 10px; }
            #header .header__menu-list .list-item .dropdown li {
              text-align: left;
              padding: 10px 20px; } }
        #header .header__menu-list .list-item .dropdown li a {
          font-weight: bold; }

#header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: white;
  right: 0;
  box-shadow: 0 0 10px #ccc; }
  #header.sticky .header__menu {
    margin-top: 0;
    box-shadow: none;
    padding: .5rem 2rem;
    width: 100%;
    background-color: white; }

#footer {
  background-color: #39459b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39459b), to(#0f97d5));
  background-image: -webkit-linear-gradient(top, #39459b, #0f97d5);
  background-image: -moz-linear-gradient(top, #39459b, #0f97d5);
  background-image: -ms-linear-gradient(top, #39459b, #0f97d5);
  background-image: -o-linear-gradient(top, #39459b, #0f97d5);
  background-image: linear-gradient(top, #39459b, #0f97d5);
  background: linear-gradient(to right bottom);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #footer p {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 18px; }
