//Start Blog
#blog
  .container
    .blog__items
      .imageItem.item-first
        img.blogImg(src="images/portfolio1.jpg", alt="")
        h3.img-title.text-uppercase.colorwhite How to be effective in working remotely
        p.img-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru
      .imageItem
        img.blogImg(src="images/portfolio2.jpg", alt="")
        h3.img-title.text-uppercase.colorwhite personal finance planning
        p.img-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
      .imageItem
        img.blogImg(src="images/portfolio3.jpg", alt="")
        h3.img-title.text-uppercase.colorwhite best ui/ux designs
        p.img-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
      .imageItem
        img.blogImg(src="images/portfolio4.jpg", alt="")
        h3.img-title.text-uppercase.colorwhite personal finance planning
        p.img-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
      .imageItem
        img.blogImg(src="images/portfolio5.jpg", alt="")
        h3.img-title.text-uppercase.colorwhite best ui/ux designs
        p.img-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
      .imageItem
        img.blogImg(src="images/portfolio6.jpg", alt="")
        h3.img-title.text-uppercase.colorwhite personal finance planning
        p.img-desc.colorwhite Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
    ul.pagination.justify-content-center
      li.page-item.bluebg
        a.color-white(href="#")
          i.fas.fa-angle-double-left
      li.color39459b.page-item
        a(href="#") 1
      li.color39459b.page-item
        a(href="#") 2
      li.color39459b.page-item
        a(href="#") 3
      li.page-item.bluebg
        a.color-white(href="#")
          i.fas.fa-angle-double-right
//End Blog