extends master.pug

block content
   include ./layouts/otherHeader.pug
   include ./components/about-top.pug
   include ./components/about-story.pug
   include ./components/about-desc.pug
   include ./components/team.pug
