extends master.pug

block content
   include ./components/About/header.pug
   include ./components/About/topSection.pug
   include ./components/About/about-story.pug
   include ./components/About/about-desc.pug
   include ./components/About/team.pug
