extends master.pug

block content
   include ./components/Home/header.pug
   include ./components/Home/banner.pug
   include ./components/Home/service.pug
   include ./components/Home/about-us.pug
   include ./components/Home/portfolio.pug
   include ./components/Home/testimonial.pug
   include ./components/Home/team.pug
   include ./components/Home/pricing.pug
   include ./components/Home/blog.pug
   include ./components/Home/contact-us.pug
   include ./components/Home/modalContact.pug
