extends master.pug

block content
   include ./components/banner.pug
   include ./components/service.pug
   include ./components/about-us.pug
   include ./components/portfolio.pug
   include ./components/testimonial.pug
   include ./components/team.pug
   include ./components/pricing.pug
   include ./components/blogs.pug
   include ./components/contact-us.pug
