//Start Header
#header
   .container
      .header__menu
         .header__menu-logo
            a(href="#")
               img(src="images/logo.png", alt="")
         .header__menu-bar
            i.btnToggle.fas.fa-bars
         ul.header__menu-list
            li.list-item
               a(href="#home") Home
            li.list-item
               a(href="#service") Services
            li.list-item
               a(href="#portfolio") Portfolio
            li.list-item
               a(href="#testimonial") Testimonial
            li.list-item
               a(href="#team") Team
            li.list-item
               a(href="#pricing") Pricing
            li.list-item
               a(href="#blog") News
            li.list-item
               a(href="#contact-us") Contact Us
            li.list-item.pages
               a pages
                  i.fas.fa-sort-down
               ul.dropdown
                  li
                     a(href="#") About Us
                  li
                     a(href="#") Blog
                  li
                     a(href="#") Single Blog
                  li
                     a(href="#") Portfolio


//End Header