//Start otherHeader
.header
   .container
      .header__menu
         .header__menu-logo
            a(href="#")
               img(src="images/logo.png", alt="")
         .header__menu-bar
            i.btnToggle.fas.fa-bars
         ul.header__menu-list
            li.list-item
               a(href="index.html") Home
            li.list-item
               a(href="index.html") Services
            li.list-item
               a(href="index.html") Portfolio
            li.list-item
               a(href="index.html") Testimonial
            li.list-item
               a(href="index.html") Team
            li.list-item
               a(href="index.html") Pricing
            li.list-item
               a(href="index.html") News
            li.list-item
               a(href="index.html") Contact Us
            li.list-item.pages
               a pages
                  i.fas.fa-sort-down
               ul.dropdown
                  li
                     a(href="about-us.html") About Us
                  li
                     a(href="blog.html") Blog
                  li
                     a(href="#") Single Blog
                  li
                     a(href="portfolio.html") Portfolio
//End otherHeader